// COLORS
:root {
    --mainColor: #FDD446;
    $form-select-indicator-color: yellow;
    --bs-dropdown-link-hover-bg: #FEF6D6;
} 

$whiteColor: white;
$blackColor: #000000;

$orangeBaseColor: #FDD446;
$orangeSecondBaseColor: #F79B47;
$cardCheckBaseColor: #FF9900;

$cardBorderColor: rgba(48, 47, 46, 0.7);
$decorateColor: rgba(253, 212, 70, 0.5);

$blackColorWithOpacity: rgba(0, 0, 0, 0.5);

// FONT

$rubikFont: 'Rubik', 'Helvetica', 'Arial', sans-serif;
$istokWebFont: 'Istok Web', 'Helvetica', 'Arial', sans-serif;
